.Home {
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute !important;
    left: 0 !important;
}

.mySwiper img {
    width: 100%;
    height: 100%;
}

.home_box {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.home_box h1 {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
}

.home_box p {
    /*font-size: 50px;*/
    color: #FFFFFF;
    text-align: center;
    width: 50%;
}

.home_box a {
    width: 200px;
    height: 40px;
    background: #c89501;
    outline: none;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    font-size: 15px;
    transition: 0.5s;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_box a:hover {
    background: #ffbc00;
}

.home_section2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.home_section2_left h3 {
    font-size: 20px;
    color: #c89501;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-family: var(--montserrat), serif;
}

.home_section2_left h3 span {
    width: 100px;
    border: #c89501 1px solid;
    height: 5px;
    background: #c89501;
    margin-right: 10px;
}

.home_section2_left h2 {
    font-size: 28px;
    font-family: var(--montserrat), serif;
    color: #fff;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 2px;
}

.home_section2_left a {
    color: #fff;
    background: #c89501;
    height: 40px;
    width: 40%;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.5s;
    margin-bottom: 15px;
}

.home_section2_left a:hover {
    transform: translateY(-10px);
}

.home_section2_right p {
    color: white;
    font-family: var(--note_sans), sans-serif;
    font-size: 15px;
}

.home_section2_right h3 {
    color: #c89501;
}

.home_section3 {
    background: #151515;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_section3_item {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    height: 480px;
    position: relative;
}

.home_section3_item h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    font-family: var(--montserrat), sans-serif;
}

.home_section3_item p {
    color: #f2f2f2;
    font-size: 14px;
}

.home_section3_item_text {
    position: absolute;
    bottom: 114px;
    left: -15px;
    width: 100%;
    height: 28%;
    background: rgba(0, 0, 0, 0.9);
    text-align: left;
    padding: 10px 20px;
z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0;
}

.home_section3_item_text a {
    font-size: 20px;
    width: max-content;

    color: #c89501;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home_section3_item_icon {
    z-index: 2;
    position: absolute;
    background: #c89501;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -15px;
    top: -15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.home_section3_item_text a:hover {
    background: #c89501;
    color: #fff;
    width: max-content;
    padding: 0 20px;
}

.home_section3_item_text a svg {
    margin-left: 20px;
}

.home_section3_item_img {
    height: 60%;
    width: 100%;
    transition: 0.5s;
}

.home_section3_item_img:hover {
    transform: translateY(-10px);
}

.ant-image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ant-image img {
    width: 100%;
    height: 100% !important;
}

.home_section3_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_section4_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.home_section4_title h1 {
    font-family: var(--montserrat), sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.home_section4_title span {
    width: 100px;
    background: #c89501;
    height: 2px;
}

.home_section4 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.home_section4_item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    height: 300px;
}

.home_section4_item h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    font-family: var(--montserrat), sans-serif;
    margin-top: 20px;
}

.home_section4_item p {
    color: #f1f1f1;
    font-family: var(--note_sans);
    font-size: 12px;
    line-height: 1.7em;
    width: 90%;
}


.home_section5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_section5 {
    margin: 100px 0;
}

.home_section5 .row {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
}

.home_section5 .row .col-lg-6 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 500px;

}

.home_section5_text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 100px 50px 100px;
    background: #151515;
}

.home_section5_text_title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.home_section5_text_title span {
    width: 100px;
    background: #c89501;
    height: 5px;
}

.home_section5_text_title h1 {
    font-family: var(--montserrat), sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.home_section5_text ul {
    padding: 0;

}

.home_section5_text ul li {
    margin-bottom: 10px;
    gap: 10px;
    font-size: 20px;
    line-height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home_section5_text ul li img {
    width: 5%;
}

.home_section5_text p {
    color: #fff;
    font-family: var(--note_sans);
    font-size: 14px;
    line-height: 1.7em;
    width: 100%;
}

.home_section5_text a {
    color: #fff;
    background: #c89501;
    height: 40px;
    width: 30%;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 20px;*/
    transition: 0.5s;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.home_section6 {
    width: 90%;
    margin-bottom: 100px;
}

.home_section6 img {
    width: 100%;
    height: 100%;
}

.home_section6 .col-lg-4:nth-child(1) img {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.home_section6 .col-lg-4:nth-child(3) img {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.home_section6_text .home_section5_text_title {
    width: 100%;
}

.home_section6_text .home_section5_text_title h1 {
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.home_section6_text p {
    color: #fff;
    font-family: var(--note_sans);
    font-size: 15px;
    line-height: 1.7em;
    text-align: center;
}


.home_section_box_info {
    padding: 100px 0;
    width: 100%;
}

.home_section_box_info_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_section_box_info_item {
    width: 100%;
    height: 200px;
    font-weight: 700;
}

.home_section_box_info_item .home_section_box_info_item_i {
    width: 48%;
    height: 100%;
    border: 2px solid #ffbc00;
    float: left;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;


}
.home_section_box_info_item:nth-child(1)  .home_section_box_info_item_i{
    background: url("../../assets/img/150A0784.webp") no-repeat;
    background-size: cover;
}
.home_section_box_info_item:nth-child(2) .home_section_box_info_item_i{
    background: url("../../assets/img/150A0785.webp") no-repeat;
    background-size: cover;
}
.home_section_box_info_item:nth-child(3) .home_section_box_info_item_i{
    background: url("../../assets/img/150A0786.webp") no-repeat;
    background-size: cover;
}
.home_section_box_info_item:nth-child(2n) .home_section_box_info_item_i {
    float: right;
}

.home_section_box_info_item div {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}

.home_section_box_info_item:nth-child(2n) div {
    float: left;
}

.home_section_box_info_item .home_section_box_info_item_element_top{
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 54%;
    background: #ffbc00;
    top: 50%;
    left: -24px;
}
.home_section_box_info_item .home_section_box_info_item_element_bottom{
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 15%;
    background: #ffbc00;
    top: 73%;
    transform: rotate(90deg);
    right: 42%;
}
.home_section_box_info_item:nth-child(2) .home_section_box_info_item_element_top{
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 50%;
    background: #ffbc00;
    top: 50%;
    right: -37%;
    left: 54%;
}
.home_section_box_info_item:nth-child(2) .home_section_box_info_item_element_bottom{
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 15%;
    background: #ffbc00;
    top: 74%;
    left: 46.5%;
}



.home_section7 {
    background: url("../../assets/img/150A1936.webp") center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

.home_section7_opacity {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


.home_section8 {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #151515;
}

.home_section8_text {
    text-align: left;
}

.home_section8_text h2 {
    color: #c89501;
    font-family: var(--montserrat);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 2px;
}

.home_section8_text p {
    color: #fff;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 2px;
}

.home_section8_button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home_section8_button a {
    color: #fff;
    background: #c89501;
    height: 40px;
    width: 50%;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 20px;*/
    transition: 0.5s;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.home_section8_button a:hover {
    background: #ffbc00;
}

.footer_item_send a:hover {
    background: #ffbc00;
}

.footer_item_social a:hover {
    color: #ffbc00;
}

.product_s3 .product_s3_text a:hover {
    background: #ffbc00;
}

.contact_form button:hover {
    background: #ffbc00;
}

.home_section4_item_img {
    height: 30%;
    width: 100%;
}

.home_section4_item_img img {
    height: 100%;
}

.home_section2_right p:nth-child(1) {
    margin-top: 42px;
}

@media screen and (max-width: 1300px) {
    .home_section5_text {
        padding: 50px 50px;
    }

    .home_section3_item {
        height: 559px;
    }
}

@media screen and (max-width: 1000px) {
    .home_section2_right p:nth-child(1) {
        margin-top: 0px;
    }

    .home_section3_item {
        height: 500px;
    }

    .home_box p {
        /*font-size: 50px;*/
        color: #FFFFFF;
        text-align: center;
        width: 80%;
    }

    .home_box h1 {
        font-size: 50px;
        color: #FFFFFF;
        text-align: center;
    }

    .home_section5_text {
        padding: 10px;
    }

    .home_section8_text {
        text-align: center;
    }

    .home_section4_item {
        height: 250px;
    }

    .home_section5_text {
        height: 100%;
    }

    .home_section5 {
        margin-bottom: 0;
    }
    .home_section_box_info_item .home_section_box_info_item_element_top {
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 54%;
        background: #ffbc00;
        top: 50%;
        left: -16px;
    }
    .home_section_box_info_item .home_section_box_info_item_element_bottom {
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 29%;
        background: #ffbc00;
        top: 75%;
        transform: rotate(90deg);
        right: 36%;
    }
    .home_section_box_info_item:nth-child(2) .home_section_box_info_item_element_top{
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 50%;
        background: #ffbc00;
        top: 50%;
        right: -37%;
        left: 54%;
    }
    .home_section_box_info_item:nth-child(2) .home_section_box_info_item_element_bottom{
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 29%;
        background: #ffbc00;
        top: 75%;
        left: 39.5%;
    }
}

@media screen and (max-width: 750px) {
    .home_box {
        width: 100%;
    }

    .home_section2_left h2 {
        font-size: 20px;
    }

    .home_section2_left h3 {
        font-size: 14px;
    }

    .home_box p {
        /*font-size: 50px;*/
        color: #FFFFFF;
        text-align: center;
        width: 100%;
    }

    .home_box h1 {
        font-size: 35px;
        color: #FFFFFF;
        text-align: center;
    }

    .home_section5_text {
        height: 100%;
    }

    .home_section8_text h2 {
        font-size: 16px;
    }
    .home_section_box_info_item div{
        display: none;
    }
    .home_section_box_info_item{
        margin-bottom: 10px;
    }
    .home_section_box_info_item .home_section_box_info_item_i{
        width: 100%;
    }
}