.product_header {
    background: url("../../assets/img/150A0878.webp") center center no-repeat;

    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;
    margin-top: 20px;
}

.product_s1 {
    margin-top: 100px;
}
.product_s1 p{
    font-size: 15px !important;
}

.product_s1 ul{
    padding: 0 ;
    margin-top: 15px;
}
.product_s1 ul li{
    margin-bottom: 10px;
    gap: 10px;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.product_s1 ul li img{
    width: 5%;
}

.product_s2 {
    padding: 0 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
}

.product_s2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_s2_box {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px !important;
}

.product_s2_box_right, .product_s2_box_left {
    width: 49%;
}

.product_s2_box:last-child .product_s2_box_right, .product_s2_box_left {
    width: 50%;
}

.product_s2_box_left_item, .product_s2_box_right {
    position: relative;
    overflow: hidden;

}

.product_s2_box_opacity {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product_s2_box_left {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/


}

.product_s2_box_left .product_s2_box_left_item {
    width: 95%;
    height: 49%;
    margin-bottom: 10px;
}

.product_s2_box_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product_s2_box_text h3 {
    font-family: var(--montserrat), sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.product_s2_box_right .product_s2_box_text h3 {
    font-size: 32px;
}

.product_s2_box_left_item .product_s2_box_text h3 {
    font-size: 18px;
}

.product_s2_box_text p {
    color: #fff;
    font-family: var(--note_sans), sans-serif;;
    font-size: 15px;
    line-height: 1.7em;
    text-align: center;
}

.product_s2_box_left_top, .product_s2_box_left_bottom {
    width: 50%;
}

.product_s2_box_left_item:hover img, .product_s2_box_right:hover img {
    transform: scale(1.1);
    transition: 1s;
}


.product_s3 {
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}

.product_s3 .product_s3_text h1 {
    font-family: var(--montserrat), sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: #c89501;
}

.product_s3 .product_s3_text p {
    color: #fff;
    font-family: var(--note_sans), sans-serif;
    font-size: 15px;
    line-height: 1.7em;
}

.product_s3 .product_s3_text a {
    color: #fff;
    background: #c89501;
    height: 40px;
    width: 50%;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 20px;*/
    transition: 0.5s;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.carousel-item {
    height: 300px;
    position: relative;

}
.slide_opacity{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.slide_text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}
.slide_text h1{
    color: #fff;
    font-family: var(--montserrat), sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}
.slide_text p{
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
}
.carousel-item img {
    height: 100%;
    object-fit: cover;
}
.carousel-indicators .active {
    background-color: white; /* Bu joyda kerakli rangni tanlang */
}
@media screen and (max-width: 1024px) {
    .product_s2 .container{
        width: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 750px) {
    .product_s3 .product_s3_text h1 , .product_s3 .product_s3_text p{
        text-align: center;
    }
    .product_s3_text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .product_s3 .product_s3_text a{
        width: 50%;
    }
    .product_s2_box {
        flex-direction: column;
        height: auto;

    }

    .product_s2_box_right, .product_s2_box_left {
        width: 100%;
    }

    .product_s2_box:last-child .product_s2_box_right, .product_s2_box_left {
        width: 100%;
    }

    .product_s2_box_left_top, .product_s2_box_left_bottom {
        width: 100%;
    }

    .product_s2_box_left {
        flex-direction: column;
    }

    .product_s2_box_left_top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .product_s2_box_left .product_s2_box_left_item {
        width: 100%;
        height: 300px;
    }

    .product_s2_box_right {
        margin-bottom: 10px;
        height: 300px;
    }
}

@media (min-width: 768px) {
   .product_s2 .container {
         max-width: 100% !important;
    }
}


@media (min-width: 576px) {
    .product_s2 .container {
         max-width: 100% !important;
    }
}